.expander-wrapper .chunk,
.expander-wrapper .trigger-btn.off,
.expander-wrapper.expanded span.ellipsis,
.expander-wrapper.expanded .trigger-btn.on {
  display: none;
}

.expander-wrapper.expanded .chunk {
  display: block;
}

.expander-wrapper.expanded span.chunk,
.expander-wrapper.expanded .trigger-btn.off {
  display: inline;
}
