
.wysiwyg-expander {
  display: inline-block;
  border: 0;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  margin: 2px 0px -2px;
  width: 87px;
  height: 15px;
  background: transparent url(images/breaktext.gif) no-repeat center top;
}
